@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto');
div.tnBkmklt-Overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 10000;
  }


div.tnBkmklt-Overlay > * {
  font-family: 'Roboto', sans-serif;
  opacity: 1;
}

div.tnBkmklt-Overlay > h1 {
  font-family: 'Oswald', sans-serif;
}

div.tnBkmklt-Overlay > h1.tnOverlay-title {
  position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}
