@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto');
div.tnOverlay, div.tnOverlay-background  {
  position: relitive;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 10001;
  }
div.tnOverlay-background {
  background-color: #f44336;
  opacity: 0.75;
   z-index: 10000;
  }



div.tnOverlay > * {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: white;
}

div.tnOverlay > h1 {
  font-family: 'Oswald', sans-serif;
}

div.tnOverlay > h1.tnOverlay-title {
  position: relative;
    top: 33.33333333333333%;
}
