var tn = {
	{% if page.selection %}
	{{ page.selection }}: function() {
		var s = '';
		if (window.getSelection) {
			s = window.getSelection();
		} else if (document.getSelection) {
			s = document.getSelection();
		} else if (document.selection) {
			s = document.selection.createRange().text;
		}
		return s;
	},
	{% endif %}

	{{ page.title }}: function() {
		if (window.tn{{ page.title }}TimesRan === undefined) {
			window.tn{{ page.title }}TimesRan = 0;
			console.log(window.tn{{ page.title }}TimesRan);
		}
		if({% unless page.times %}!{% endunless %}window.tn{{ page.title }}TimesRan{% if page.times %} < {{ page.times }}{% endif %}) {
			{% if page.times %}window.tn{{ page.title }}TimesRan++;{% endif %}
			  console.log(winndow.tn{{ page.title }}TimesRan);
			{{ page.title }}.Main();

		} else {
			console.log("ERROR: Bookmarket '{{ page.title }}' already loaded");							       
		}

	},
};
							       
var {{ page.title }} = {
	{{ content }}
};


var v = "{{ page.jquery | default: '2.1.1' }}";
if (window.jQuery === undefined || window.jQuery.fn.jquery < v) {
	var done = false;
	var script = document.createElement("script");
	script.src = "https://ajax.googleapis.com/ajax/libs/jquery/" + v + "/jquery.min.js";
	script.onload = script.onreadystatechange = function(){
		if (!done && (!this.readyState || this.readyState == "loaded" || this.readyState == "complete")) {
			done = true;
			$(tn.{{ page.title }});
		}
	};
	document.getElementsByTagName("head")[0].appendChild(script);
} else {
	$(tn.{{ page.title }});
}

